
	/* =================GENERAL STYLE ============
       ========================================*/
	body {
		background:blue;
	    margin: 0;
		background: #f9f9f9 url(../images/vvv.jpg);
		background-size: 100%;
		font-size: 15px;
		color: #333;
		overflow-y: scroll;
		overflow-x: hidden;
	        }

	         * { 
	           box-sizing: border-box;
	            }
	            a{
		color: #f2f2f2;
		text-decoration: none;
	}
	 h3 {
		color: #d9d9d9;
		letter-spacing: 2px;
		text-align: center;
		font-size: 18px;
		margin: 2px 18px;
		padding: 35px 2px;
		height: 75px;
		font-family: B Cheshmeh;
		
	}
	.para {
		color: white;
		padding: 8px 5px;
		text-align: center;
		font-size: 14px;
		border-top: 1px solid rgba(255,255,255,0.5);
	}
	.container{
		width: 100%;
		position: relative;

	}
	.clr{
		clear: both;
		padding: 0;
		height: 0;
		margin: 0;
	}
	.main{
		
		width: 50%;
		
		margin:0px 90px  ;
		
		
	}
	.container > header{
		margin: 10px;
		padding: 0px ;
		position: relative;
		display: block;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	    text-align: center;
	}
	.container > header h1{
		font-family: B Cheshmeh;
		font-size: 40px;
		line-height: 32px;
		margin: 0;
		position: relative;

		color: white;
		text-shadow: 3px 3px 4px black;
	}
	.container > header h2{
		font-size: 25px;
		font-weight:bold;
		font-family: B Cheshmeh;
		color: white ;
		text-shadow: 3px 3px 4px black;
	}
	/* =================FIRST ROW OF TITLE ============
       ================================================*/
     
.tooltip .tooltiptext {
    visibility: hidden;
    
    font-weight: bold;
    width: 100px;
    background-color: hsl(200, 100%, 20%);
    text-align: center;
    border-radius: 6px;
    padding: 20px 5px;
    /* Position the tooltip */
    position: absolute;
    right: 1%;
    z-index: 1;
    
   
}


.tooltip:hover .tooltiptext {
    visibility: visible;

}

	.codrops-top span.right{
		float: right;
		padding: 6px;
		margin-top: 0;
	 }

	.codrops-top{

		line-height: 13px;
		font-size: 15px;
		background: #fff;
		background: rgba(255, 255, 255, 0.6);
		z-index: 9999;
		position: relative;
		box-shadow: 1px 0px 2px rgba(0,0,0,0.1);
	}
	.codrops-top a{
		padding: 0px 10px;
		letter-spacing: 1px;
		color:#e6e6ff;
		display: inline-block;
	 }
	.codrops-top a: hover {
		background: rgba(255,255,255,0.3);
	 }
	 
	 /* all of main image  for 1-4 circle*/
	.ch-img-1 { 
		background-image: url(../images/77.jpg);
	}

	.ch-img-2 { 
		background-image: url(../images/imj.jpg);
	}

	.ch-img-3 { 
		background-image: url(../images/4.jpg);
	}
	.ch-img-4 { 
		background-image: url(../images/5.jpg);
	}


	 /*GENERAL STYLE OF DEMO*/
	 .ch-grid {
		margin: 30px 20px;
     
		padding: 0;
		list-style: none;
		display: block;
		text-align: left;
		direction: ;
		width: 100%;
		
	}

	.ch-grid:after,
	.ch-item:before {

		content: '';
	    display: table;
	}

	.ch-grid:after {
		clear: both;
	}

	   .ch-grid li {
		width: 220px;
		height: 220px;
		display: inline-block;
		margin: 40px  ;
            }
		/*===================== PAGE KHOD SHENA30 =========*/
		#hedOftest1{
			
          text-shadow:10px 20px 15px black;
          font-family: B Cheshmeh;
          font-size: 40px;
          text-align: left;
          margin-top: 5%;
          margin-left: 3%;
          color: white;
	}
         /* =================FIRST CIRCLE ============
            ========================================*/
	.ch-items {
		width: 100%;
		height: 100%;
		border-radius: 8%;
		position: relative;
		cursor: default;
	}

	.ch-info-wraps{
		position: absolute;
		width: 180px;
		height: 180px;
		border-radius: 8%;

		transition: all 0.4s ease-in-out;
		top: 20px;
		left: 20px;
		

	}

	.ch-infos{
		position: absolute;
		width: 180px;
		height: 180px;
		border-radius: 8%;
		transition: all 0.4s ease-in-out;
		transform-style: preserve-3d;

	}

	.ch-infos > div {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 8%;
		background-position: center center;
		backface-visibility: hidden;
	}
    
	.ch-infos .ch-info-backs {
		transform: rotate3d(0,1,0,180deg);
		background: #0d0d26;

	}

	.ch-infos p a {
		display: block;
		color: #fff;
		color: rgba(255,255,255,0.7);
		font-weight: bold;
		font-size: 9px;
		letter-spacing: 1px;
		padding-top: 4px;
		font-family: B nazanin;
	}
	.ch-infos p a:hover {
		color: #fff222;
		color: rgba(255,242,34, 0.8);
	}
	
	.ch-items:hover .ch-infos {
		transform: rotate3d(0,1,0,-180deg);
	}

    /* =================2th CIRCLE ============
       ========================================*/
	.ch-item {
		width: 100%;
		height: 100%;
		border-radius: 8%;
		position: relative;
		box-shadow: 0 1px 2px rgba(0,0,0,0.1);
		
	}
	.ch-itemm {
		width: 100%;
		height: 100%;
		border-radius: 8%;
		position: relative;
	}
	.ch-itemm:hover .chh-info-frontt {	
		transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
		opacity: 0;
	}

	.chh-info{
		position: absolute;
		width: 100%;
		height: 100%;	
		
	}
	.chh-info > div {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 8%;
		background-position: center center;
		transition: all 0.4s linear;
		transform-origin: 50% 0%;
	}
	.chh-info .chh-info-backk {
		
		transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
		background: #0d0d26;
		opacity: 0;
	}
	.chh-info p a {
		display: block;
		color: #fff;
		color: rgba(255,255,255,0.7);
		font-weight: bold;
		font-size: 9px;
		letter-spacing: 1px;
		padding-top: 4px;
		font-family: B nazanin;
	}

	.chh-info p a:hover {
		 color: yellow;
		
	}

	.ch-itemm:hover .ch-info-front {
		
		transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
		opacity: 0;
	}

	.ch-itemm:hover .chh-info-backk {
		
		transform: rotate3d(1,0,0,0deg);
		opacity: 1;
	}


	/* =================3th CIRCLE ============
       ========================================*/
	.ch-info-wrap,/* hide border  of thrith circle*/ 
	.ch-info{
		position: absolute;
		width: 180px;
		height: 180px;
		border-radius: 8%;
	}

	.ch-info-wrap {
		top: 20px;
		left: 20px;
		/* for border hide */
		box-shadow: 
			0 0 0 20px rgba(255,255,255,0.2), 
			inset 0 0 3px rgba(115,114, 23, 0.8);

	}
	/*funi 3th circle*/

	.ch-info > div {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 8%;
		background-position: center center;
		
		-webkit-backface-visibility: hidden; /*Just for webkit to have a smooth font*/
	}
	 /* for animated instans for twoic animaite of 3th circle*/
	.ch-info .ch-info-front {

		transition: all 0.6s ease-in-out;
	}

	.ch-info .ch-info-back {
	     /* namayesh ax */
		opacity: 0;
	    /* color of inside circle */
		background: #0d0d26;

		transform: scale(1.5);

		transition: all 0.4s ease-in-out 0.2s;
	}
	.ch-info p a {
		display: block;
		color: #e7615e;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 9px;
		letter-spacing: 1px;
		padding-top: 4px;
		font-family: B nazanin;
	}
	.ch-info p a:hover {
		color: #fff;
	}
	.ch-item:hover .ch-info-front {
		transform: scale(0);
		opacity: 0;
	} 
	.ch-item:hover .ch-info-back {
		transform: scale(1);	
		opacity: 1;
		pointer-events: auto;
	}
     /* =================4th CIRCLE ============
       ========================================*/
 
	.ch-item4 {
		width: 100%;
		height: 100%;
		border-radius: 8%;
		position: relative;
		cursor: default;
		box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	}

	.ch-thumb4 {
		width: 100%;
		height: 100%;
		border-radius: 8%;
		overflow: hidden;
		position: absolute;
		box-shadow: inset 0 0 0 15px rgba(255,255,255, 0.5);
		/*rotaite circle*/
		transform-origin: 95% 40%;
		transition: all 0.3s ease-in-out;
	}
	.ch-info4 {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 8%;
		overflow: hidden;
		background-color:#0d0d26;
		box-shadow: inset 0 0 0 5px rgba(0,0,0,0.05);
	}


	.ch-item4:hover .ch-thumb4 {
		
		transform: rotate(-140deg);
	}






	/*=============================PAGE OF START================================*/
	#bady{
	
	background: #f9f9f9 url(../images/vv.jpg);
	background-size: 110%;
	
	}
	#main{
		
		height:65%;
		width:50%;
		box-shadow:10px 10px 100px black, 10px 10px 100px black;
		position:absolute;
		top:20%;
		left:25%;
		border-radius:8%;
	}
	#heading{
	padding:1%;
	padding-left:4%;
	text-align: center;
	color:black;
	font-family:B nazanin;	     
	font-size:50px;
	text-shadow:5px 5px 15px white;
	animation: 34s myani infinite;
		}
		@keyframes myani{
	0%{color:white;}
	15%{color:	blue;}
	45%{color:black;}
	60%{color:green;}
	75%{color:yellow;}
	90%{color:black;}
	100%{color:purple;}
}

#icoon{
	font-size: 35px;
	padding-right: 10%; 
	text-align: center;
	position: absolute;
	top: 70%;
	left: 47%;
}
#icoon a i:hover{cursor: pointer; color: yellow; }
	#list{
		margin:0;
	padding:0;
	background-color:none;
	list-style-type:none;
		text-align:center;
	}
	#list li{
		padding:1.5%;
	display:inline-block;
	width:12%;
	font-family:B nazanin;	
	font-size:30px;	
	font-weight:bold;
		text-align:center;
}
	#list li a{
		color:black;
	display:block;
	text-decoration:none;
	}
	#list li a:hover{
		text-shadow:1px 1px 3px black; 
	border-bottom:2px solid black;
	cursor: pointer;
	}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,102,20); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	border-radius:14px;
}

/* Modal Content */
.modal-content {
    background-image:  url(../images/vv.jpg);
    background-size: 145%;
    margin: auto;
	margin-top:3%;
    padding: 20px;
   
    width: 50%;
	height:540px;
	
	border-radius: 8%;
	
	font-family:B nazanin;
}

/* The Close Button */
.close {
    color:#862d86;
    float: right;
    font-size: 55px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #213f5f;
    text-decoration: none;
    cursor: pointer;
}
ul.dropContent li{
	padding: 4%;

}

.dropdown:hover ul.dropContent{
	display:block;

	
}
.mod {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,102,20); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	border-radius:14px;
}

/* Modal Content */
.modal-cont {
     
  background-image:  url(../images/vv.jpg);
    background-size: 145%;
    margin: auto;
	margin-top:3%;
    padding: 20px;
   
    width: 50%;
	height:540px;
	
	border-radius: 8%;
	
	font-family:B nazanin;
}


/* The Close Button */
.clo {
    color: #862d86;
    float: right;
    font-size: 55px;
    font-weight: bold;
}

.clo:hover,
.clo:focus {
    color: #213f5f;
    text-decoration: none;
    cursor: pointer;
}



  /* ================================= PAGE OF DEMO 3=========*/
  

}
.mmain{

    width:680px;
    margin: auto;
}

  .view {
   width: 300px;
   height: 300px;
   margin: 4% ;
   margin-top: 10%;
   float: left;
   border: 6px solid silver;
   overflow: hidden;
   position: relative;
   text-align: center;
   box-shadow: 1px 1px 2px #e6e6e6;
   cursor: default;
   background: #fff url(../images/l.jpg)  ;
   background-size:160%;
}
.view .mask,.view .content {
   width: 300px;
   height: 300px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   color: white;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 20px;
   background: #333333;
   margin: 20px 0 0 0;
}
.view p {
   font-family: B nazanin;
   font-weight: bold;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.view a.innfo {
   display: inline-block;
   font-weight: bold;
   text-decoration: none;
   padding: 7px 14px;
   background: #333333;
   color: white;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.innfo: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}






.view-third img {
   transition: all 0.2s ease-in;
}
.view-third .mask {
   background-color: rgba(0,0,0,0.6);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   
   transform: translate(460px, -100px) rotate(180deg);
   transition: all 0.2s 0.4s ease-in-out;
}
.view-third h2 {
   
   transform: translateY(-100px);
  
   transition: all 0.2s ease-in-out;
}
.view-third p {
   
   transform: translateX(300px) rotate(90deg);
  
   transition: all 0.2s ease-in-out;
}
.view-third a.innfo {
   
   transform: translateY(-200px);
   
   transition: all 0.2s ease-in-out;
}
.view-third:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   
   transition-delay: 0s;
   
   transform: translate(0px, 0px);
}
.view-third:hover h2 {
   
   transform: translateY(0px);
   
   transition-delay: 0.5s;
}
.view-third:hover p {
   
   transform: translateX(0px) rotate(0deg);
   
   transition-delay: 0.4s;
}
.view-third:hover a.innfo {
   
   transform: translateY(0px);
   
   transition-delay: 0.3s;
}







.view-sixth .mask2 {
   background-color: rgba(0, 0, 0, 0.5);
   width: 100%;
   height: 100%;
   filter: alpha(opacity=0);
   opacity: 0;
   transition: all 0.3s ease-in 0.4s;
}
.view-sixth h2 {
   
   filter: alpha(opacity=0);
   opacity: 0;
   border-bottom: 1px solid white;
   background: transparent;
   margin: 0% ;
   transform: scale(10);
   transition: all 0.3s ease-in-out 0.1s;
}
.view-sixth p {
   filter: alpha(opacity=0);
   opacity: 0;
   transform: scale(10);
   transition: all 0.3s ease-in-out 0.2s;
}
.view-sixth a.info2 {
   border:1px solid black ;
   padding: 2%;
   background-color: #c0c0c0;
   color: black;
   filter: alpha(opacity=0);
   opacity: 0;
   transform: translateY(100px);
   transition: all 0.3s ease-in-out 0.1s;
}
.view-sixth:hover .mask2 {
  
   filter: alpha(opacity=100);
   opacity: 1;
   transition-delay: 0s;
}
.view-sixth:hover img {
   transition-delay: 0s;
}
.view-sixth:hover h2 {
   
   filter: alpha(opacity=100);
   opacity: 1;
   transform: scale(1);
   transition-delay: 0.1s;
}
.view-sixth:hover p {
   
   filter: alpha(opacity=100);
   opacity: 1;
   transform: scale(1);
   transition-delay: 0.2s;
}
.view-sixth:hover a.info2 {
   filter: alpha(opacity=100);
   opacity: 1;
   transform: translateY(0px);
   transition-delay: 0.3s;
}
				







.view-eighth .mask3 {
	width: 100%;
	height: 88%;
	margin-top: 0;
   background-color: rgba(255, 255, 255, 0.7);
   top: -200px;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   transition: all 0.3s ease-out 0.5s;
}
.view-eighth h2 {
   background-color:#333333 ;
   color: white;
   font-weight: bold;
   transform: translateY(-200px);
   transition: all 0.2s ease-in-out 0.1s;
}
.view-eighth p {
   color: #333;
   
   transform: translateY(-200px);
   transition: all 0.2s ease-in-out 0.2s;
}
.view-eighth a.info3 {
	padding: 2%;
	background-color:#333333;
   border: 1px solid black;
   background-size: black;
   color: white; 
   transform: translateY(-200px);
   transition: all 0.2s ease-in-out 0.3s;
}
.view-eighth:hover .mask3 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   top: 0px;
   
   transition-delay: 0s;
   
   animation: bounceY 0.9s linear;
}
.view-eighth:hover h2 {
   
   transform: translateY(0px);
   transition-delay: 0.4s;
}
.view-eighth:hover p {
   
   transform: translateY(0px);
   transition-delay: 0.2s;
}
.view-eighth:hover a.info3 {
   
   transform: translateY(0px);
   transition-delay: 0s;
}
@keyframes bounceY {
    0% { transform: translateY(-205px);}
    40% { transform: translateY(-100px);}
    65% { transform: translateY(-52px);}
    82% { transform: translateY(-25px);}
    92% { transform: translateY(-12px);}
    55%, 75%, 87%, 97%, 100% { transform: translateY(0px);}
}
@-moz-keyframes bounceY {
    0% { -moz-transform: translateY(-205px);}
    40% { -moz-transform: translateY(-100px);}
    65% { -moz-transform: translateY(-52px);}
    82% { -moz-transform: translateY(-25px);}
    92% { -moz-transform: translateY(-12px);}
    55%, 75%, 87%, 97%, 100% { -moz-transform: translateY(0px);}
}
@-webkit-keyframes bounceY {
    0% { -webkit-transform: translateY(-205px);}
    40% { -webkit-transform: translateY(-100px);}
    65% { -webkit-transform: translateY(-52px);}
    82% { -webkit-transform: translateY(-25px);}
    92% { -webkit-transform: translateY(-12px);}
    55%, 75%, 87%, 97%, 100% { -webkit-transform: translateY(0px);}
}














	
      /* ======================================PACE OF MOSHAVERE ============
               =============================================================================*/
    .paragraf{
    	font-size: 20px;
    	font-weight: bold;
    	font-family: B nazanin;
    	text-align: justify;
    	margin-top: 5%;
    	padding-left:6%;
    }
   
   #hedOfMoshavere{
   	font-size: 60px;
   	text-align: center;
   	color: #000;
   }
   #paraOfMoshavere{
   	width: 50%;
   	margin: 80px;
    direction: rtl;
   	font-size: 25px;
   	font-weight:bold;
   	text-align: center;
   
   }
       #btuttom0:hover{
       cursor: pointer;}
       #btuttom1:hover{
       cursor: pointer;}
       #btuttom2:hover{
       cursor: pointer;}



   #btuttom0{
                    display: block;
					width: 20%;
					background:#0086b3;
					border:none;
					outline: none;
					border-radius: 7%;
					box-shadow: 5px 5px 5px silver;
					color: #fff;
					font-size: 16px;
					font-weight: bold;
					margin: 3% 6%;
					padding: 1%;



    }
     #btuttom1{
                    display: block;
					width: 15%;
					background:#0086b3;
					border:none;
					outline: none;
					border-radius: 7%;
					box-shadow: 5px 5px 5px silver;
					color: #fff;
					font-size: 16px;
					font-weight: bold;
					margin: 3% 6%;
					padding: 1%;


    }
    #btuttom2{
                    display: block;
					width: 10%;
					background:#0086b3;
					border:none;
					outline: none;
					border-radius: 7%;
					box-shadow: 5px 5px 5px silver;
					color: #fff;
					font-size: 16px;
					font-weight: bold;
					margin: 3% 6%;
					padding: 1%;


    }
    @keyframes ani{
	from{
	
		margin-top: 20px;
		visibility: none;

	}
	to{
		
		margin-top:400px;
		visibility: visible;

	}
}
 @keyframes animate{
	from{
		top:0px;
		height: 0px;
	}
	to{
		top:0;
		height: 600px;

	}
}
    #mymodel{
      position:fixed;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-color:rgba( 0, 0, 0, 0.4);
      display:none;
      
      }
      #one1{
      	font-size: 22px;
      	 color: black;
      	  text-align: center;
      	  font-family: B nazanin;
      }
    #content{
      margin: 5% auto;
      width:600px;
      height:600px;
      padding:1%;
      border-radius: 20px;
      border: 2px solid #0099cc;
      background-image: url(../images/r.jpg);
      background-size:199%;  
      color: black;
      animation: animate  linear 4s  1;
  }
  #close{
      float: right;
    }

#mymodel1{
      position:fixed;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-color:rgba( 0, 0, 0, 0.4);
      display:none;
      
      }
    #content1{
     margin: 5% auto;
      width:600px;
      height:600px;
      padding:1%;
      border-radius: 20px;
      border: 2px solid #0099cc;
      background-image: url(../images/r.jpg) ;
      background-size:199%;  
      color: black;
      animation: animate  linear 4s  1;
  }
  #close1{
     float: right;
    }

#mymodel2{
      position:fixed;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-color:rgba( 0, 0, 0, 0.4);
      display:none;
      
      }
    #content2{
      margin: 5% auto;
      width:600px;
      height:600px;
      padding:1%;
      border-radius: 20px;
      border: 2px solid #0099cc;
      background-image: url(../images/r.jpg);
      background-size:199%;  
      color: black;
      animation: animate  linear 4s  1;
  }
  #close2{
      float: right;
    }






















     /* ======================================PACE OF PERSONAL TEST ============
               =============================================================================*/
               #badi
				{
					
       	        background-image: url(../images/vv.jpg); 
       	        background-size: 110%;
					box-sizing: border-box;
				}
				#container{
					height:65%;
					width:45%;
					box-shadow:10px 10px 100px black, 10px 10px 100px black;
					position:absolute;
					top:20%;
					left:5%;
					border-radius:5%;	
	       	        background-image: url(../images/vvv.jpg); 
	       	        background-size: 100% 100%;
					
					
				}
				#titlequiz{
					text-align: center;
					font-family: B Cheshmeh;
					text-shadow: 10px 15px 20px black;
					font-size: 40px;
					color:white;
					padding-bottom: 2%;
					padding-top: 2%;
				}
				#question{
					font-family: B nazanin;
					font-size: 25PX;
					font-weight: bold;
					color: black;
					margin: 4%;
					text-align: center;
				}
				.btn{
					display: block;
					width: 40%;
					background:#0086b3;
					border:none;
					outline: none;
					border-radius: 7%;
					box-shadow: 5px 5px 5px silver;
					color: #fff;
					font-family: B nazanin;
					font-size: 16px;
					font-weight: bold;
					margin: 3% 6%;
					padding: 2%;

				}
				.btn:hover {
					color: black;
					
					}
				
				#counter{
					width: 30%;
					margin: auto;
					padding: 1%;
					font-size: 17px;
					font-weight: bold;
					text-align: center;
					text-shadow: 2px 2px 4px #000;
					box-shadow: 1px 1px 3px #000;
				}


		#mod {
		    /* Hidden by default */
		    display: none; 
		    /* Stay in place */
            position: fixed;
            /* Sit on top */ 
            z-index: 1;
            /* Location of the box */ 
            padding-top: 200px; 
			left: 0;
			top: 0;
			/* Full width */
            width: 100%; 
            /* Full height */
            height: 100%;
            /* Enable scroll if needed */ 
            overflow: auto;
            /* Fallback color */ 
            background-color: rgb(0,102,20); 
            /* Black w/ opacity */
            background-color: rgba(0,0,0,0.4); 
	        border-radius:1%;
		}
		.answers{
			margin-top: 10%;
			margin-left: 20%;
			font-size: 20px;
		
		}

		/* Modal Content */
		.modal-cont {
		     
	background-image:  url(../images/par1.jpg);
    background-size: 130%;
    margin: auto;
    padding: 20px;
    width: 50%;
	height: 500px;
	color: white;
	border-radius: 3%;
	text-align: justify-all;
	text-align: right;
	font-family:B nazanin;
		}
    
		/* The Close Button */
		#clo {
		    color: #862d86;
    float: right;
    font-size: 55px;
    font-weight: bold;
		}

		#clo:hover,
		#clo:focus {
			    color: #213f5f;
			    text-decoration: none;
			    cursor: pointer;
					   
		}
		
			
			#mod-1 {
		    /* Hidden by default */
		    display: none; 
		    /* Stay in place */
            position: fixed;
            /* Sit on top */ 
            z-index: 1;
            /* Location of the box */ 
            padding-top: 100px; 
			left: 0;
			top: 0;
			/* Full width */
            width: 100%; 
            /* Full height */
            height: 100%;
            /* Enable scroll if needed */ 
            overflow: auto;
            /* Fallback color */ 
            background-color: rgb(0,102,20); 
            /* Black w/ opacity */
            background-color: rgba(0,0,0,0.4); 
	        border-radius:14px;
		}

		/* Modal Content */
		.modal-cont-1 {
		     
			 background-image:  url(../images/vv.jpg);
    background-size: 145%;
    margin: auto;
	margin-top:3%;
    padding: 20px;
   
    width: 50%;
	height:440px;
	
	border-radius: 8%;
	
	font-family:"B nazanin";
		}
    
		/* The Close Button */
		#clo-1 {
		    color: #862d86;
    float: right;
    font-size: 55px;
    font-weight: bold;
		}

		#clo-1:hover,
		#clo-1:focus {
			    color: #213f5f;
			    text-decoration: none;
			    cursor: pointer;
					   
		}
		

   /* ======================================PACE OF RESPONSIVE ============
               =============================================================================*/


    @media screen and (max-width: 750px){
    	/*=====start page =====*/
      *{	background-image: url(../images/mm.jpg); }
        
       body{background-image: url(../images/mm.jpg);}
       #main{width: 40%; height: 600px;}

       /*===== Home page =====*/
      
       /*GENERAL STYLE OF DEMO*/
	 .ch-grid {
	 	
		margin: 3px ;
		padding: 5px;
	}
	   .ch-grid li {
		width: 160px;
		height: 160px;
		margin: 10px  ;
	}
	/*=========first=======*/
	.ch-info-wraps{
		width: 130px;
		height: 130px;
		top: 15px;
		left: 15px;
	}

	.ch-infos{
		width: 130px;
		height: 130px;
		
	}
  .container > header h1{font-size: 25px;}
  .container > header h2{font-size: 35px; text-shadow: none;}
  #rang{color: black; font-size: 18px;}
  h3 {
  	font-size: 11px;}
  	#h{display: none;}
  	.ch-info-wrap,
	.ch-info{
		
		width: 140px;
		height: 140px;
		
	}

	.ch-info-wrap {
		top: 10px;
		left: 10px;
		box-shadow:none; 
  }
		
 /*====== 4 demo =====*/
 .ch-item4:hover .ch-thumb4 {
		
		transform: rotate(-160deg);
	}













